<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvAM5uPboQgnPnoYs-Le1gNpKNSf5N4r4</string>
	<key>GCM_SENDER_ID</key>
	<string>927381146865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loopinMvp</string>
	<key>PROJECT_ID</key>
	<string>loopin-mvp</string>
	<key>STORAGE_BUCKET</key>
	<string>loopin-mvp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927381146865:ios:71bd2cb691f2eb217bad50</string>
</dict>
</plist>